/* Start Global Rules  */
:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background: #ececec;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Cairo", sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small  */
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

/* Medium  */
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

/* Large  */
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

.main-title {
    border: 2px solid black;
    padding: 10px 20px;
    width: fit-content;
    margin: 0px auto 80px;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    z-index: 1;
    transition: var(--main-transition);
}

.main-title:hover {
    border-color: white;
    color: white;
    transition-delay: 0.5s;
}

.main-title::before,
.main-title::after {
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
    border-radius: 50%;
    background-color: var(--main-color);
    top: 50%;
    transform: translateY(-50%);
}

.main-title::before {
    left: -30px;

}

.main-title::after {
    right: -30px;

}

.main-title:hover::before {
    z-index: -1;
    animation: left-move 0.5s linear forwards;
}

.main-title:hover::after {
    z-index: -1;
    animation: right-move 0.5s linear forwards;
}

/* .spikes {
    position: relative;
}

.spikes::after {
    content: "";
    background-image: linear-gradient(135deg, white 25%, transparent 25%), linear-gradient(235deg, white 25%, transparent 25%);
    right: 0;
    width: 100%;
    height: 30px;
    position: absolute;
    background-size: 30px 30px;
    z-index: 1;
}

.dots {
    position: absolute;
    background-image: url(../images/dots.png);
    background-repeat: no-repeat;
    height: 186px;
    width: 204px;
}
.dots-up {
    right:0 ;
    top: 200px;
}
.dots-down {
    left:0 ;
    bottom: 200px;
} */
/* End Global Rules  */

/* Start Header  */
.header {
    box-shadow: 0 0 10px #ddd;
}

.header .container {
    position: relative;
    flex-wrap: wrap;
}

.header .logo {
    height: 73.5px;
    color: var(--main-color);
    font-size: 26px;
    font-weight: bold;
}

@media (max-width:767px) {
    .header .logo {
        width: 100%;
        height: 50px;
    }
}

.header .main-nav>li:last-of-type:hover .mega-menu {
    opacity: 1;
    z-index: 100;
    top: calc(100% + 1px);
}

.header .main-nav>li>a {
    height: 73.5px;
    padding: 0 30px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--main-transition);
    position: relative;
    font-size: 18px;
    overflow: hidden;
}

@media (max-width:767px) {
    .header .main-nav>li>a {
        padding: 17px;
        font-size: 14px;
    }
}

.header .main-nav>li:hover>a {
    color: var(--main-color);
    background-color: #fafafa;
}

.header .main-nav>li>a::before {
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    position: absolute;
    top: 0;
    left: -100%;
    transition: var(--main-transition);

}

.header .main-nav>li>a:hover::before {
    left: 0;

}

.header .mega-menu {
    position: absolute;
    right: 0;
    top: calc(100% + 50px);
    width: 100%;
    background-color: white;
    z-index: -1;
    padding: 40px;
    border-bottom: 3px solid var(--main-color);
    display: flex;
    gap: 30px;
    transition: var(--main-transition);
    opacity: 0;

}

@media (max-width:767px) {
    .header .mega-menu {
        flex-direction: column;
        gap: 0;
        padding: 5px;
    }

    .header .mega-menu :first-child li:last-of-type {
        border-bottom: 1px solid #e9e6e6;
    }

}

.header .mega-menu .image img {
    max-width: 100%;
}

@media (max-width:991px) {
    .header .mega-menu .image img {
        display: none;
    }
}

.header .mega-menu .links {
    min-width: 250px;
    flex: 1;

}

.header .mega-menu .links li {
    position: relative;

}




.header .mega-menu li a {
    padding: 15px;
    display: block;
    color: var(--main-color);
    font-weight: bold;
    font-size: 18px;

}

.header .mega-menu li:not(:last-child) {
    border-bottom: 1px solid #e9e6e6;
}

.header .mega-menu li a i {
    margin-right: 10px;
}

.header .mega-menu .links li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0px;
    height: 100%;
    background-color: #fafafa;
    z-index: -1;
    transition: var(--main-transition);

}

.header .mega-menu .links li:hover::before {
    width: 100%;
}


/* End Header  */
/* Start Landing  */
.landing {
    position: relative;
}

.landing::before {
    content: "";
    background-color: #e2e2e2;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    left: 0;
    top: -32px;
    transform: skewY(-6deg);
    transform-origin: top left;
}

.landing .container {
    height: calc(100vh - 73.5px);
    padding-bottom: 120px;

}

.landing .text {
    flex: 1;
}


@media (max-width:991px) {
    .landing .text {
        text-align: center;
    }
}

.landing .text h1 {
    font-size: 40px;
    letter-spacing: -1px;
    margin: 0;
}

@media (max-width:767px) {
    .landing .text h1 {
        font-size: 28px;
    }
}

.landing .text p {
    color: #666;
    font-size: 26px;
    line-height: 1.7;
    margin: 5px 0 0;
    max-width: 500px;
}

@media (max-width:767px) {
    .landing .text p {
        font-size: 18px;
    }
}

@media (max-width:991px) {
    .landing .text p {
        margin: 10px auto;
    }
}

.landing .image img {
    position: relative;
    width: 600px;
    animation: up-and-down 5s linear infinite;
}

@media (max-width:991px) {
    .landing .image img {
        display: none;
    }
}

.landing .go-down {
    color: var(--main-color);
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translatex(-50%);
    transition: var(--main-transition);
}

.landing .go-down:hover {
    color: var(--main-color-alt);
}

.landing .go-down i {
    animation: bouncing 1.5s infinite;
}


/* Start Landing  */

/* Start Articles */
.articles {
    padding-top: var(--mian-padding-top);
    padding-bottom: var(--mian-padding-bottom);
}

.articles .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}

.articles .box {
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
    transition: transform var(--main-transition), box-shadow var(--main-transition);
}

.articles .box:hover .info i {
    animation: move-arrow 0.6s linear infinite;
}

.articles .box:hover {
    transform: translateY(-10px);
    box-shadow: 0px 2px 15px rgb(0 0 0 20%);
}


.articles img {
    max-width: 100%;
    width: 100%;
}

.articles .content {
    padding: 20px;

}

.articles .content h3 {
    margin: 0;
}

.articles .content p {
    margin: 10px 0 0;
    color: #777;
    line-height: 1.5;
}

.articles .info {
    border-top: 1px solid #E6E6E7;
    padding: 20px;
}

.articles .info a {
    color: var(--main-color);
    font-weight: bold;
}

.articles .info i {
    color: var(--main-color);
}

/* End Articles */

/* Start Gallery  */
.gallery {
    padding-top: var(--mian-padding-top);
    padding-bottom: var(--mian-padding-bottom);
    background-color: var(--section-background);
    position: relative;
}

.gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.gallery .box {
    padding: 15px;
    background-color: white;
    box-shadow: 0 2px 15px rgb(0 0 0 / 13%), 0 2px 15px rgb(0 0 0 / 12%);
}

.gallery .image {
    position: relative;
    overflow: hidden;
}

.gallery .image::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    background-color: rgb(255 255 255 / 20%);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    opacity: 0;
    transition: var(--main-transition);
}

.gallery .box .image:hover img {
    transform: rotate(5deg) scale(1.1);
}

.gallery .box .image:hover::before {
    animation: flashing 0.7s;
}

.gallery .image img {
    width: 100%;
    max-width: 100%;
    transition: var(--main-transition);
}

/* End Gallery  */

/* Start Features  */
.features {
    padding-top: var(--mian-padding-top);
    padding-bottom: var(--mian-padding-bottom);
    position: relative;
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.features .box {
    border: 1px solid #ccc;
    transition: var(--main-transition);
    text-align: center;
}

.features .image {
    position: relative;
    overflow: hidden;
}

.features .image::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: -1px;
    left: 0;
}

.features .image::after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 0px 0px 170px 500px;
    bottom: 0;
    right: 0;
    border-color: transparent transparent white transparent;
    transition: var(--main-transition);
}

.features .box:hover .image::after {
    border-width: 170px 500px 170px 0;
}

.features .quality .image::before {
    background-color: rgb(244 64 54 / 60%);
}

.features .time .image::before {
    background-color: rgb(0 150 136 /60%);
}

.features .passion .image::before {
    background-color: rgb(3 169 244/60%);
}

.features .image img {
    max-width: 100%;
}

.features .content h2 {
    width: fit-content;
    margin: auto;
    position: relative;
    font-size: 40px;
}

.features .content h2::after {
    content: "";
    position: absolute;
    width: calc(100% - 30px);
    height: 5px;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.features .quality .content h2::after {
    background-color: #f44036;
}

.features .time .content h2::after {
    background-color: rgb(0 150 136);
}

.features .passion .content h2::after {
    background-color: rgb(3 169 244);
}

.features p {
    color: #777;
    margin: 30px 0;
    font-size: 20px;
    line-height: 2;
    padding: 25px;
    text-align: center;
}

.features a {
    width: fit-content;
    display: block;
    margin: 0 auto 30px;
    border: 3px solid #CCC;
    padding: 10px 30px;
    border-radius: 6px;
    font-size: 22px;
    font-weight: bold;
    position: relative;
    transition: var(--main-transition);
}

.features a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    transition: var(--main-transition);
}

.features .quality a::before {
    background-color: #f44036;

}

.features .time a::before {
    background-color: rgb(0 150 136);
}

.features .passion a::before {
    background-color: rgb(3 169 244);
}

.features .box:hover a::before {
    width: 100%;
}

.features .box:hover a {
    color: white;
}

.features .quality a {
    border-color: #f44036;
    color: #f44036;
}

.features .time a {
    border-color: rgb(0 150 136);
    color: rgb(0 150 136);
}

.features .passion a {
    border-color: rgb(3 169 244);
    color: rgb(3 169 244);
}

/* End Features  */

/* Start Testimonials */
.testimonials {
    padding-top: var(--mian-padding-top);
    padding-bottom: var(--mian-padding-bottom);
    background-color: var(--section-background);
    position: relative;
}

.testimonials .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.testimonials .box {
    position: relative;
    background-color: white;
    border-radius: 6px;
    padding: 20px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
    ;
}

.testimonials img {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    max-width: 100%;
    top: -20px;
    right: -10px;
    border: 10px solid var(--section-background);
}

.testimonials h3 {
    margin: 0 0 10px;
}

.testimonials span {
    margin-bottom: 10px;
    display: block;
    color: var(--main-color);
}

.testimonials .box .rate .filled {
    color: #ffc107;
}




.testimonials p {
    line-height: 1.5;
    color: #777;
    margin-top: 10px;
    margin-bottom: 0;
}

/* End Testimonials */

/* Start Team Members */
.team-members {
    padding-top: var(--mian-padding-top);
    padding-bottom: var(--mian-padding-bottom);
    position: relative;

}

.team-members .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.team-members .box {
    position: relative;
}

.team-members .box::before,
.team-members .box::after {
    content: "";
    position: absolute;
    width: calc(100% - 60px);
    height: 100%;
    right: 0;
    top: 0;
    border-radius: 10px;
    transition: var(--main-transition);
}

.team-members .box::before {
    background-color: #f3f3f3;
    z-index: -2;
}

.team-members .box::after {
    z-index: -1;
    background-color: #e4e4e4;
    width: 0;
}


.team-members .box:hover:after {
    width: calc(100% - 60px);
}

.team-members .box:hover img {
    filter: grayscale(100%);

}

.team-members .data {
    display: flex;
    align-items: center;
    padding-top: 60px;
}


.team-members .data img {
    width: calc(100% - 60px);
    border-radius: 10px;
    transition: var(--main-transition);
}

.team-members .data .social {
    display: flex;
    flex-direction: column;
    width: 60px;
    gap: 20px;
}

.team-members .data .social a {
    width: 60px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #777;
}

.team-members .data .social a:hover {
    color: var(--main-color);
}


.team-members .info {
    padding-left: 80px;
}

.team-members .info h2 {
    color: var(--main-color);
    transition: var(--main-transition);
    font-size: 22px;
    margin-bottom: 0;
}

.team-members .box:hover .info h2 {
    color: #777;
}

.team-members .info p {
    margin-top: 10px;
    margin-bottom: 25px;
}


/* End Team Members */

/* Start Sevicse  */
.services {
    padding-top: var(--mian-padding-top);
    padding-bottom: var(--mian-padding-bottom);
    background-color: var(--section-background);
    position: relative;
}

.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.services .box {
    background-color: white;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    transition: var(--main-transition);
    position: relative;
    counter-increment: services;
}

.services .box::before {
    content: "";
    width: 0;
    height: 3px;
    top: -3px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    background-color: var(--main-color);
    transition: var(--main-transition);
}

.services .box:hover:before {
    width: 100%;
}

.services .box:hover {
    transform: translateY(-10px);
}

.services .box i {
    display: block;
    margin: 30px auto 20px;
    text-align: center;
    color: #d5d5d5;
}

.services .box h3 {
    color: var(--main-color);
    font-size: 25px;
    text-align: center;
    margin: 20px 0 40px;
}

.services .box .info {
    text-align: right;
    padding: 15px;
    position: relative;
    background-color: #f9f9f9;
    overflow: hidden;
}

.services .box .info::before {
    content: "0" counter(services);
    position: absolute;
    width: 80px;
    height: 100%;
    left: 0;
    top: 0;
    background-color: var(--main-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    font-size: 30px;
    padding-right: 15px;
    font-weight: bold;
}

.services .box .info::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 100px;
    background-color: #d5d5d5;
    left: 65px;
    top: 0;
    transform: skewX(-30deg);
}

.services .box .info a {
    color: var(--main-color);
}

/* End Sevicse  */

/* Start Our Skills */
.our-skills {
    padding-top: var(--mian-padding-top);
    padding-bottom: var(--mian-padding-bottom);
    position: relative;
}

.our-skills .container {
    display: flex;
    align-items: center;
}

@media (max-width:767px) {
    .our-skills .container img {
        display: none;
    }
}

.our-skills .skills {
    flex: 1;
}

.our-skills .skills .skill h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.our-skills .skills .skill h3 span {
    font-size: 12px;
    border: 1px solid #ccc;
    padding: 3px 5px;
    border-radius: 4px;
    color: var(--main-color);
}

.our-skills .skills .skill .the-progress {
    background-color: #EEE;
    width: 100%;
    height: 30px;
    transition: var(--main-transition);
    position: relative;
}

.our-skills .skills .skill .the-progress span {
    background-color: var(--main-color);
    position: absolute;
    height: 30px;
    left: 0;
    top: 0;
}

/* End Our Skills */

/* Start Work Steps */
.work-steps {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: var(--section-background);
}

.work-steps .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 991px) {
    .work-steps .container {
        flex-direction: column;
    }
}

.work-steps .image {
    max-width: 100%;
    margin-right: 100px;
}

@media (max-width: 991px) {
    .work-steps .image {
        margin: 0 0 50px;
    }
}

.work-steps .info .box {
    background-color: #f6f5f5;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    border: 2px solid white;
    position: relative;
    z-index: 1;
}

@media (max-width: 767px) {
    .work-steps .info .box {
        flex-direction: column;
        text-align: center;
    }
}

.work-steps .info .box::before {
    content: "";
    left: 50%;
    top: 50%;
    position: absolute;
    width: 0;
    height: 0;
    transform: translate(-50%, -50%);
    background-color: #ededed;
    z-index: -1;
    transition: var(--main-transition);
}

.work-steps .info .box:hover::before {
    width: 100%;
    height: 100%;
}

.work-steps .info .box img {
    width: 64px;
    margin-right: 30px;
}

@media (max-width: 767px) {
    .work-steps .info .box img {
        margin: 0 0 30px;
    }
}

.work-steps .info .box h3 {
    margin: 0;
    font-size: 22px;
}

.work-steps .info .box p {
    color: #777;
    line-height: 1.7;
    margin: 10px 0 0;
    font-size: 18px;
}

/* End Work Steps */

/* Start Events */
.events {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}

.events .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.events .container img {
    max-width: 450px;
}

@media (max-width:991px) {
    .events .container img {
        display: none;
    }
}

.events .info {
    flex: 1;
    text-align: center;
}

.events .info .time {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    gap: 10px;
}

.events .info .time .unit {
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: var(--main-transition);
}

.events .info .time .unit:hover {
    border-color: var(--main-color);
}

.events .info .time .unit:hover span:last-child {
    border-color: var(--main-color);
}

.events .info .time .unit span:first-child {
    font-size: 35px;
    padding: 15px;
    color: var(--main-color);
    font-weight: bold;
}

.events .info .time .unit span:last-child {
    display: block;
    padding: 8px 10px;
    border-top: 1px solid #d4d4d4;
    transition: var(--main-transition);
}

.events .info .time .unit span {
    display: block;
}

.events .info .title {
    font-size: 30px;
    margin: 40px 0 0;
}

.events .info p {
    line-height: 1.7;
    font-size: 19px;
    color: #777;
}

.events form {
    background-color: #f6f5f5;
    padding: 30px 40px;
    border-radius: 50px;
    width: 600px;
    display: flex;
    gap: 20px;
}

@media (max-width:767px) {
    .events form {
        padding: 20px 25px;
        width: 370px;
    }

}

.events .subscribe input[type="email"] {
    border: none;
    border-radius: 50px;
    padding: 20px;
    width: 400px;
    caret-color: var(--main-color);
    flex: 1;
}

.events .subscribe input[type="submit"] {
    border-radius: 50px;
    border: none;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    transition: var(--main-transition);
}

.events .subscribe input[type="submit"]:hover {
    background-color: var(--main-color-alt);
}

.events .subscribe input[type="email"]:focus {
    outline: none;
}

.events .subscribe input[type="email"]::placeholder {
    transition: opacity var(--main-transition);
}

.events .subscribe input[type="email"]:focus::placeholder {
    opacity: 0;
}

.events .subscribe {
    margin: 40px auto 0;
}

/* End Events */

/* Start Pricing  */
.pricing {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: var(--section-background);
}

.pricing .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.pricing .box {
    background-color: white;
    text-align: center;
    position: relative;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    z-index: 1;
}

.pricing .box::before,
.pricing .box::after {
    content: "";
    background-color: #f6f6f6;
    width: 0;
    position: absolute;
    height: 50%;
    transition: var(--main-transition);
    z-index: -1;
}

.pricing .box::before {
    left: 0;
    top: 0;
}

.pricing .box::after {
    right: 0;
    bottom: 0;
}

.pricing .box:hover::before,
.pricing .box:hover::after {
    width: 100%;
}

.pricing .box img {
    max-width: 80px;
    margin-bottom: 30px;
}

.pricing .box .title {
    margin: 30px 0;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: -1px;
}

.pricing .box .price {
    margin-bottom: 20px;
}

.pricing .amount {
    font-size: 60px;
    font-weight: bold;
    color: var(--main-color);
    margin-bottom: 5px;
    display: block;
}

.pricing .time {
    color: #777;
    margin-bottom: 15px;
}

.pricing ul {
    text-align: left;
    padding: 0 0 20px 0;
}

.pricing ul li {
    position: relative;
    padding: 20px 0;
    border-top: 1px solid #EEE;
}

.pricing ul li::before {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    font-weight: 900;
    color: var(--main-color);
    margin-right: 10px;
    padding-left: 15px;
}


.pricing .box a {
    display: block;
    width: fit-content;
    border: 2px solid var(--main-color);
    color: var(--main-color);
    margin: 30px auto 40px;
    padding: 15px 20px;
    border-radius: 6px;
    font-weight: bold;
    transition: var(--main-transition);
}

.pricing a:hover {
    background-color: var(--main-color);
    border-color: var(--main-color);
    color: white;
}


.pricing .box .popular {
    position: relative;
}

.pricing .popular .label {
    content: "";
    background-color: var(--main-color);
    writing-mode: vertical-rl;
    color: white;
    padding: 10px 10px 35px 10px;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    right: 20px;
    width: 40px;
}

.pricing .popular .label::before {
    content: "";
    bottom: -10px;
    position: absolute;
    border-style: solid;
    border-width: 20px;
    border-color: var(--main-color) var(--main-color) white var(--main-color);
    left: 0px;
}

@media (min-width:1200px) {
    .pricing .box.popular {
        top: -20px;
    }
}

/* End Pricing  */

/* Start videos  */
.videos {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}

.videos .holder {
    border: 1px solid #DDD;
    display: flex;
    justify-content: center;
    background-color: var(--section-background);
}

@media (max-width: 991px) {
    .videos .holder {
        flex-direction: column;
    }
}

.videos .list {
    min-width: 300px;
    background-color: white;
}

.videos .list .name {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f4f4f4;
    font-weight: bold;
}

.videos .list ul li {
    padding: 20px;
    border-top: 1px solid var(--section-background);
    transition: var(--main-transition);
    cursor: pointer;
}

.videos .list ul li:hover {
    background-color: #fafafa;
    color: var(--main-color);
}


.videos .list ul li span {
    display: block;
    margin-top: 10px;
    color: #777;
}

.videos .preview {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    background-color: #e2e2e2;
}

.videos .preview img {
    width: 100%;
}

.videos .preview .info {
    padding: 20px;
    margin-top: 20px;
    background-color: white;
}

/* End videos  */

/* Start Stats */
.stats {
    background-image: url("../images/stats.jpg");
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-size: cover;
    position: relative;
    min-height: 300px;
}

.stats::before {
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(255 255 255 / 95%);
    position: absolute;

}

.stats h2 {
    width: fit-content;
    margin: 0px auto 50px;
    font-size: 40px;
    position: relative;
    font-weight: bold;
}

.stats .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;

}

.stats .box {
    background-color: white;
    text-align: center;
    padding: 30px 15px 25px;
    z-index: 1;
    position: relative;
    opacity: .7;
    transition: var(--main-transition);
}

.stats .box:hover {
    opacity: 1;
}

.stats .box::before,
.stats .box::after {
    content: "";
    height: 0;
    background-color: var(--main-color);
    width: 2px;
    position: absolute;
    transition: 1s;

}

.stats .box::before {
    bottom: 0;
    left: 0;
}

.stats .box::after {
    top: 0;
    right: 0;
}

.stats .box:hover::before {
    height: 100%;
}

.stats .box:hover::after {
    height: 100%;
}

.stats .box span {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.stats .box .number {
    font-size: 50px;
    font-weight: bold;
}

.stats .box .text {
    color: var(--main-color);
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}

/* End Stats */

/* Start Discount  */
.discount {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
}

.discount .content {
    padding: 0 20px;
    text-align: center;
}

.discount .content h2 {
    font-size: 40px;
    letter-spacing: -2px;
}

.discount .content p {
    line-height: 1.6;
    font-size: 18px;
    max-width: 500px;
}

.discount .image {
    background-image: url(../images/discount-background1.jpg);
    background-size: cover;
    position: relative;
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 1;
    animation: change-background 10s linear infinite;
}

@media (max-width:991px) {
    .discount .image {
        flex-basis: 100%;
    }
}

.discount .image::before {
    content: "";
    background-color: rgb(23 135 224 / 97%);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    z-index: -1;
}

.discount .image img {
    width: 300px;
    max-width: 100%;
}

.discount .form {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 50px; */
}

@media (max-width:991px) {
    .discount .form {
        flex-basis: 100%;
    }
}

.discount .form .input {
    display: block;
    margin: 0 auto 30px;
    padding: 15px;
    border: none;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ccc;
    width: 300px;
    caret-color: var(--main-color);
}

.discount .form .input:focus {
    outline: none;
}

.discount .form textarea {
    resize: none;
    height: 200px;
}

.discount .form input[type="submit"] {
    width: 300px;
    border: none;
    background-color: var(--main-color);
    color: white;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    transition: var(--main-transition);
    cursor: pointer;
}

.discount .form input[type="submit"]:hover {
    background-color: var(--main-color-alt);
}

/* End Discount  */

/* Start Footer  */
.footer {
    background-color: #191919;
    color: white;
    padding: 70px 0 0;
}
@media (max-width:767px) {
 .footer {
    text-align: center;
 }
}

.footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 40px;
}

.footer .container .box h3 {
    color: white;
    font-size: 50px;
    margin: 0 0 20px;
}
.footer .social  {
    display: inline-flex;
}
@media (max-width: 767px) {
    .footer .box .social {
      justify-content: center;
    }
  }
.footer .social li {
    margin-right: 10px;
}
.footer .social li a {
    display: inline-flex;
    width: 50px;
    height: 50px;
    background-color: #313131;
    justify-content: center;
    align-items: center;
    color: #b9b9b9;
    font-size: 20px;
    transition: var(--main-transition);
}

.footer .social li a.facebook:hover  {
    background-color: #1877f2;
}

.footer .social li a.twitter:hover  {
    background-color: #1da1f2;
}

.footer .social li a.youtube:hover  {
    background-color: #ff0000;
}

.footer .text {
    color: #b9b9b9;
    line-height: 2;
}


.footer .links {
    transform: var(--main-transition);
}


.footer .links li {
    position: relative;
    padding: 15px 0;
    transition: var(--main-transition);
}

.footer .links li:hover {
    padding-left: 10px;   
}

.footer .links li:hover a {
    color: white;
}

.footer .links li::before {
    content: "\F101";
    font-weight: bold;
    font-family: "Font Awesome 5 Free";
    color: var(--main-color);
    margin-right: 10px;
}

.footer .links li:not(:last-child) {
    border-bottom: 1px solid #444;
}

.footer .links li a {
    color: #b9b9b9;
}

.footer .line {
    display: flex;
    align-items: center;
    color: #b9b9b9;
    margin-bottom: 30px;
}

@media (max-width:767px) {
    .footer .line {
        flex-direction:column;
    }
}

.footer .line i {
    color: var(--main-color);
    font-size: 25px;
    margin-right: 10px;
}

@media (max-width:767px) {
    .footer .line i {
        margin-bottom: 10px;
    }
}

.footer .line .info {
    line-height: 1.6;
    flex: 1;
}
.footer .line .info span {
    display: block;
}

.footer .footer-gallery img {
    width: 78px;
    border: 3px solid white;
    margin: 2px;
}

.footer .copyright {
    text-align: center;
    padding: 25px 0;
    border-top: 1px solid #444;
    margin: 50px 0 0;
}
/* End Footer  */

/* Start Keyframes  */
@keyframes up-and-down {

    0%,
    100% {
        top: 0;
    }

    50% {
        top: -50px;
    }
}

@keyframes bouncing {

    0%,
    10%,
    20%,
    50%,
    70%,
    80%,
    90%,
    100% {
        transform: translateY(0);
    }

    30%,
    40%,
    60% {
        transform: translateY(-15px);
    }
}

@keyframes left-move {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        left: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
}

@keyframes right-move {
    50% {
        right: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        right: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
}

@keyframes move-arrow {
    100% {
        transform: translateX(10px);
    }
}

@keyframes flashing {

    0%,
    40% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}

@keyframes change-background {

    0%,
    100% {
        background-image: url(../images/discount-background1.jpg);
    }

    50% {
        background-image: url(../images/discount-background2.jpg);
    }
}

/* End Keyframes  */